* {
    margin:0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

header{
    background-color: chartreuse;
    padding: 10px;
    color:purple;
    text-align: center;
}

main {
    padding: 30px 50px;
}

.card {
    background-color: white;;
    border: 1px solid #000;
    padding: 20px;
    margin-top: 15px;
    border-radius: 10px;
}

.inputs {
    display: grid;
    margin-bottom: 10px;
}

input {
    padding: 10px;
    border: 1px solid #000;
    border-radius: 10px;
}

button {
    border:0;
    padding: 10px;
    outline: 0;
    background-color: purple;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    transition: all ease 0.2s;
}

button:hover {
    background-color: rgb(206, 0, 206);
}

.lists {
    margin-top: 15px;
}

table {
    border-collapse: collapse;
    border:1px solid #000;
    width: 100%;
    text-align: center;
}

table th {
    background-color: rgb(209, 206, 205);
    padding: 1px 5px;
}

table td img {
    width: 25px;
    height: 25px;
    padding: 0 20px;
}